body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(parking.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 50px auto;
    height: 100%;
    width: 24%;
    text-align: center;
    background-color: white;
    padding: 30px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

#count {
    font-size: 48px;
    margin-bottom: 20px;
}

#entries {
    margin-top: 20px;
    font-size: 18px;
}